<%= simple_form_for(@kimura_entry) do |f| %>
  <% if @kimura_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kimura_entry.errors.count, "error") %> prohibited this kimura_entry from being saved:</h2>

      <ul>
      <% @kimura_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :reading %>
  </div>
  <div class="field">
    <%= f.association :wadoku_entry, :collection => @kimura_entry.wadoku_candidates, :label_method =>:kanji_and_translation, :as => :radio %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
