<h1>Kimura</h1>

<%= will_paginate @kimura_entries %>
<table>
  <tr>
    <th>Reading</th>
    <th>Candidates</th>
    <th>Asscociated entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kimura_entries.each do |kimura_entry| %>
  <tr>
    <td><%= kimura_entry.reading_with_number %></td>
    <td><%= kimura_entry.wadoku_candidates.count %></td>
    <td><%= kimura_entry.wadoku_entry ? kimura_entry.wadoku_entry.kanji : "No" %>  </td>
    <td><%= link_to 'Edit', edit_kimura_entry_path(kimura_entry) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kimura entry', new_kimura_entry_path %>
